<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='/javascripts/jquery.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script>
</head>

<body>
  <div class="col-lg-5">
    <button type="button" class="btn btn-secondary pull-right" data-toggle="modal" data-target="#createStudent">
      New Student Record
    </button>
  </div>
  <div class="modal fade" id="createStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="/new" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Create New Student Record</h4>
          </div>
          <div class="modal-body">
            <fieldset class="form-group">
              <label for="inputStudentID">Student ID</label>
              <input type="text" id="inputStudentID" name="studentId" class="form-control" placeholder="Student Id" required="true">
            </fieldset>
            <fieldset class="form-group">
              <label for="inputName">Student Name</label>
              <input type="text" id="inputName" name="studentName" class="form-control" placeholder="Student Name" required="true">
            </fieldset>
            <fieldset class="form-group">
              <label for="inputGroup">Group</label>
              <input type="text" id="inputGroup" name="group" class="form-control" placeholder="Group" required="true">
            </fieldset>
            <fieldset class="form-group">
              <label for="inputHobby">Hobby</label>
              <input type="text" id="inputHobby" name="hobby" class="form-control" placeholder="Hobby" required="true">
            </fieldset>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Record</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <table class="table">
    <thread>
      <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>Tutorial Group</th>
        <th>Hobby</th>
        <th>Action</th>
      </tr>
      <% for(var i=0; i < itemList.length; i++){ %>
        <tr class="rowRecord" data-id="<%= itemList[i].id %>">
          <td>
            <%= itemList[i].studentId %>
          </td>
          <td>
            <%= itemList[i].name %>
          </td>
          <td>
            <%= itemList[i].group %>
          </td>
          <td>
            <%= itemList[i].hobby %>
          </td>
          <td>
            <input type="button" class="editBtn" value="Edit">
            <input type="button" class="deleteBtn"  value="Delete">
          </td>
        </tr>
        <% } %>
    </thread>
  </table>

  <script>
    $('.editBtn').click(function () {
      var record_num = $(this).closest("tr").data('id');
      location.href = "<%-urlPath %>edit/"+record_num;
    });

    $('.deleteBtn').click(function () {
      var record_num = $(this).closest("tr").data('id');
      $.ajax({
        url: '<%-urlPath%>' + record_num,
        type: 'DELETE',
        success: function (result) {
          console.log(result.message);
          var itemToRemove = '.rowRecord[data-id=' + record_num + ']';
          $(itemToRemove).remove();
        },
        error: function (result) {
          alert("Unable to delete student record.");
          console.log(result.message);
        }
      });
    });
  </script>
</body>

</html>