<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
  <% include ../partials/javascript %>
  <!-- <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
  <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <!-- <script src='/javascripts/jquery.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script> -->
</head>

<body>
  <% include ../partials/header %>
  <!--My code-->
  <div class="col-lg-5">
    <button type="button" class="btn btn-secondary pull-right" data-toggle="modal" data-target="#createaccount">
      Create New Account
    </button>
  </div>
  <div class="modal fade" id="createaccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="/new" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Create New Account</h4>
          </div>
          <div class="modal-body">
          <fieldset class="form-group">
              <label for="inputFirstName">First Name</label>
              <input type="text" id="inputFirstName" name="firstName" class="form-control" placeholder="first name" required="true">
          </fieldset>
          <fieldset>   
              <label for="inputLastName">Last Name</label>
              <input type="text" id="inputLastName" name="lastName" class="form-control" placeholder="last name" required="true">
          </fieldset>
          <fieldset class="form-group">
              <label for="inputusername">Username</label>
              <input type="text" id="inputusername" name="username" class="form-control" placeholder="username" required="true">
          </fieldset>
          <fieldset class="form-group">
              <label for="inputpassword">Password</label>
              <input type="password" id="inputpassword" name="password" class="form-control" placeholder="password" required="true">
          </fieldset>
          <fieldset class="form-group">
              <label for="inputemail">Email</label>
              <input type="text" id="inputemail" name="email" class="form-control" placeholder="email" required="true">
          </fieldset>
          <fieldset class = "form-group">
              <label for = "inputphoneNumber">Phone Number</label>
              <input type =" text" id="inputphoneNumber" name="phoneNumber" class = "form-control" placeholder="PhoneNumber" required="true">
          </fieldset>
          <fieldset class = "form-group">
              <label for = "inputlocation">Location</label>
              <input type = "text" id="inputlocation" name="location" class="form-control" placeholder="location" required ="true">
          </fieldset>
          <fieldset class = "form-group">
              <label for = "inputgender">Gender</label>
              <input type ="text" id="inputgender" name ="gender" class="form-control" placeholder ="gender" required ="true">
          </fieldset>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <table class="table">
    <thread>
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Location</th>
        <th>Gender</th>
      </tr>
      <% for(var i=0; i < itemList.length; i++){ %>
        <tr class="rowRecord" data-id="<%= itemList[i].id %>">
          <td>
            <%= itemList[i].username %>
          </td>
          <td>
            <%= itemList[i].firstName + " "+itemList[i].lastName %>
          </td>
          <td>
            <%= itemList[i].email %>
          </td>
          <td>
            <%= itemList[i].phoneNumber %>
          </td>
          <td>
            <%= itemList[i].location %>
          </td>
          <td>
            <%= itemList[i].gender %>
          </td>
          <td>
            <input type="button" class="editBtn" value="Edit">
            <input type="button" class="deleteBtn"  value="Delete">
            <input type ="button" class="banBtn" value="Ban">
          </td>
        </tr>
        <% } %>
    </thread>
  </table>

  <script>
    $('.editBtn').click(function () {
      var record_num = $(this).closest("tr").data('id');
      location.href = "<%-urlPath %>/edit/"+record_num;
    });
    
    $/('.banBtn')

    $('.deleteBtn').click(function () {
      var record_num = $(this).closest("tr").data('id');
      $.ajax({
        url: '<%-urlPath%>/' + record_num,
        type: 'DELETE',
        success: function (result) {
          console.log(result.message);
          var itemToRemove = '.rowRecord[data-id=' + record_num + ']';
          $(itemToRemove).remove();
        },
        error: function (result) {
          alert("Unable to delete Account.");
          console.log(result.message);
        }
      });
    });
  </script>
    <% include ../partials/footer %>
</body>

</html>