<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
  <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.8/css/all.css'>
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>
</head>
<body>
    <% include ../partials/header2 %>
    <!--I included it outside bc the table doesnt seem to work-->
      <h4><%=itemList.img%></h4>
      <div>
        <p>Name:</p>
        <p><%=itemList.name%></p>
      </div>
        <div>
          <p>Price:</p>
          <p><%=itemList.group%></p>
        </div>
      <div>
        <p>Condition:</p>
        <h4><%=itemList.hobby%></h4>
      </div>
        <div>
          <p>By:</p>
          <p><%=itemList.by%></p>
        </div>
      <input type="button" class="editBtn" value="Edit">
      <input type="button" class="deleteBtn"  value="Delete">

      <button type="button" onclick="location.href='';">Chat to Buy</button>
      <button type="submit" onclick="location.href='';">Make an offer</button>
    <!--//end-->
    
<<<<<<< HEAD
<<<<<<< HEAD
          <input type="button" class="editBtn" value="Edit">
          <input type="button" class="deleteBtn"  value="Delete">

          <button type="button" onclick="location.href='/messages';">Chat to Buy</button>
          <button type="button" onclick="location.href='http://google.com';">Make an offer</button>
=======
          
>>>>>>> a5780bbfb06fa46b5a9ae3b39a687751bf868d74
=======
          
>>>>>>> a5780bbfb06fa46b5a9ae3b39a687751bf868d74
  <script>

  </script>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% include ../partials/footer %>
<% include ../partials/javascript %>
</body>
<script>
</script>
</html>