<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
  <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.8/css/all.css'>
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>
</head>
<body>
    <% include ../partials/header2 %>
    <!--I included it outside bc the table doesnt seem to work-->
      <div>
        <p>Name:</p>
        <p><%=itemList.name%></p>
      </div>
      <div>
<<<<<<< HEAD
        <img src="<%=itemList.itemImage %>" style="width: 200px; height: 200px;">
=======
<<<<<<< HEAD
        <img src="images/itemImage/<%=itemList.itemImage %>"
=======
<<<<<<< HEAD
        <img src="<%=itemList.itemImage %>" style="width: 200px; height: 200px;">
=======
        <img src="<%=itemList.itemImage %>"
>>>>>>> 8c09f2995f3132434a0e1b46423b72d042b8f9d0
>>>>>>> fccaf45afffa782d8dd96e8144575bf3d249e354
>>>>>>> 4b861e7277ef9926fb318bc85e6de714a6568b61
      </div>
        <div>
          <p>Price:</p>
          <p><%=itemList.group%></p>
        </div>
      <div>
        <p>Condition:</p>
        <h4><%=itemList.hobby%></h4>
      </div>
      <div>
        <p>Category:</p>
        <h4><%=itemList.category%></h4>
      </div>
        <div>
          <p>By:</p>
          <p><%=itemList.by%></p>
        </div>
      <input type="button" class="editBtn" value="Edit">
      <input type="button" class="deleteBtn"  value="Delete">

      <button type="button" onclick="location.href='/messages';">Chat to Buy</button>
      <button type="submit" onclick="location.href='';">Make an offer</button>
    <!--//end-->

    
  <script>

  </script>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% include ../partials/footer %>
<% include ../partials/javascript %>
</body>
<script>
</script>
</html>