<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
  <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.8/css/all.css'>
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>
</head>
<body>
    <% include ../partials/header2 %>
    <!--I included it outside bc the table doesnt seem to work-->
    <div>
      <p>Name</p>
    </div>
    <div>
      <p>Price</p>
    </div>
    <div>
      <p>Condition</p>
    </div>
    <%=itemList.name%> ,
    <%=itemList.group%> ,
    <%=itemList.hobby%>, 
    <!--//end-->
    
          <input type="button" class="editBtn" value="Edit">
          <input type="button" class="deleteBtn"  value="Delete">

          <button type="button" onclick="location.href='http://google.com';">Chat to Buy</button>
          <button type="button" onclick="location.href='http://google.com';">Make an offer</button>
  <script>

  </script>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% include ../partials/footer %>
<% include ../partials/javascript %>
</body>

<script>
  $('.editBtn').click(function () {
    var record_num = $(this).closest("tr").data('id');
    location.href = "<%-urlPath %>edit/"+record_num;
  });

  $('.deleteBtn').click(function () {
    var record_num = $(this).closest("tr").data('id');
    $.ajax({
      url: '<%-urlPath %>/' + record_num,
      type: 'DELETE',
      success: function (result) {
        console.log(result.message);
        var itemToRemove = '.rowRecord[data-id=' + record_num + ']';
        $(itemToRemove).remove();
        redirectToListing();
      },
      error: function (result) {
        alert("Unable to delete record.");
        console.log(result.message);
        redirectToListing();
      }
    });
  });

  function redirectToListing(){
    location.href = "<%-urlPath %>"
  }
</script>

</html>