<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
  <% include ../partials/javascript %>
  <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.8/css/all.css'>
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>
</head>
<style>
  .product {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  .product:hover {
    box-shadow: 0px 8px 16px 0px #888888;
    cursor: pointer;
  }
  a.removeLink:link {color: black;}
  a.removeLink:visited {color: black;}   /* visited link */
  a.removeLink:hover {color: black;text-decoration: none; cursor: default;}   /* mouse over link */
  a.removeLink:active {color: black;} 
</style>
<body>
    <% include ../partials/header %>
  <br>
  <div class="container">
    <div class="col-sm-5">
      <fieldset>
        <label for="searchItem" style="font-size: 24px;">Search for an item</label>
        <form id="searchItem">
            <input type="text" class="search" id="userInput" placeholder="Search!" title="Search For An Item!"><input type="button" id="search" value="Search"/>
        </form>
      </fieldset>
    </div>
    <div class="col-sm-7">
        <br>
        <button class="btn btn-success pull-right" style="color:white" onclick="location.href='/createlisting';"><i style="color:white" class="fa fa-plus"></i> Listing</button>
    </div>
    <br><br><br><br>

  <% for(var i=0; i < itemList.length; i++){ %>
    <div class="col-sm-3 product_col" >
      <div class="product">
        <div class="product_image">
            <a href="http://localhost:3000/listing/<%=itemList[i].id%>"><img src="uploads/itemImage/<%= itemList[i].itemImage %>" alt="" height="200" width="200" style="align-content: center"></a>
        </div>
        <p><a class="removeLink" href="http://localhost:3000/listing/<%=itemList[i].id%>"><b><%= itemList[i].name %></b></a></p>
                    
        <div class="product_price">By:<a href="http://localhost:3000/profile/<%itemList.by%>"> <%= itemList[i].by %></a></div>
        <div style="display:none;"><%= itemList[i].id %></div>      
      </div>
    </div>
  <% } %>
  </div>
  <br><br>
  <div><% include ../partials/footer %></div>
  
  <script>
   $('.editBtn').click(function () {
      var record_num = $(this).closest("tr").data('id');
      location.href = "<%-urlPath %>edit/"+record_num;
    });

    $('.deleteBtn').click(function () {
      var record_num = $(this).closest("tr").data('id');
      $.ajax({
        url: '<%-urlPath%>/' + record_num,
        type: 'DELETE',
        success: function (result) {
          console.log(result.message);
          var itemToRemove = '.rowRecord[data-id=' + record_num + ']';
					$(itemToRemove).remove();
					location.href = "/listing"
        },
        error: function (result) {
          alert("Unable to delete listing.");
          console.log(result.message);
        }
      });
		});
    /* $('#search').click(function(){
      for(var i=0; i < itemList.length; i++){
      $('#onelisting').show();
      var txt = $('#userInput').val();
      $('#onelisting:not(:contains("'+txt+'"))').hide();
      }
    });
    */

    //search function
    $('#search').click(function(){
      var searchValue = $('#userInput').val();
      location.href = "<%-urlPath %>/search/" + searchValue;
    });

    //search for price
    /*$('#searchPrice').click(function(){
      var maxPrice = $('#amount').val();
      location.href = "<%-urlPath %>/search/" + maxPrice;
    })

    function redirectToListing(){
      location.href = "<%-urlPath %>"
    }
    */
  </script>
</body>

</html>