<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
  <% include ../partials/javascript %>
  <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.8/css/all.css'>
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>
</head>

<body>
    <% include ../partials/header %>
    <fieldset>
      <div class="x-c">
        <label for="searchItem">Search for an item</label>
        <form id="searchItem">
            <input type="text" class="search" id="userInput" placeholder="Search!" title="type in">
            <input type="button" id="search" value="Search"/>
        </form>
      </div>
    </fieldset>
    <fieldset class="priceField">
      <div class="bf-d">
        <div>Price</div>
      </div>
      <div>
        <div id="slider-container"></div>
        <p>
          <label for="amount">Price Range</label>
          <input type="text" id="amount" style="border: 0; color:black; font-weight: bold"/>
        </p>
      </div>
    </fieldset>
    <div>
      <button type="submit" class="btn btn-primary">Search!</button>
    </div>
    <div class="container-fluid">
      <div class="col-lg-5">
        <button class="btn btn-secondary pull-right" onclick="location.href='/createlisting';">New Listing</button>
      </div>
    </div>

  <div class="container-fluid" id="encompass">
      <% for(var i=0; i < itemList.length; i++){ %>
        <div class="row" data-id="<%= itemList[i].id %>">
          <div class="col-lg-4" id="onelisting">
            <div id="itemName">
              <%= itemList[i].name %>
            </div>
            <div id="itemImage">
              <%= itemList[i].img %>
            </div>
            <div id="itemPrice">
              <%= itemList[i].group %>
            </div>
            <div id="itemCond">
              <%= itemList[i].hobby %>
            </div>
            <input type="button" class="editBtn" value="Edit">
            <input type="button" class="deleteBtn"  value="Delete">
          </div>
        <% } %>
        </div>
  </div>
   


  <script>
    $('.editBtn').click(function () {
      var record_num = $(this).closest("div").data('id');
      location.href = "<%-urlPath %>edit/"+record_num;
    });

    $('.deleteBtn').click(function () {
      var record_num = $(this).closest("div").data('id');
      $.ajax({
        url: '<%-urlPath%>/' + record_num,
        type: 'DELETE',
        success: function (result) {
          console.log(result.message);
          var itemToRemove = '.rowRecord[data-id=' + record_num + ']';
          $(itemToRemove).remove();
          redirectToListing();
        },
        error: function (result) {
          alert("Unable to delete record.");
          console.log(result.message);
          redirectToListing();
        }
      });
    });

    /* $('#search').click(function(){
      for(var i=0; i < itemList.length; i++){
      $('#onelisting').show();
      var txt = $('#userInput').val();
      $('#onelisting:not(:contains("'+txt+'"))').hide();
      }
    });
    */

    //search function
    $('#search').click(function(){
      var searchValue = $('#userInput').val();
      location.href = "<%-urlPath %>/search/" + searchValue;
    });



    $(function() {
      $('#slider-container').slider({
        range: true,
        min: 0,
        max: 5000,
        values: [0, 5000],
        slide: function(event, ui) {
          $('#amount').val("$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ]);
          var mi = ui.values[0];
          var mx = ui.values[1];
          filterSystem(mi, mx);
        }
      });
      $('#amount').val( "$" + $( "#slider-range").slider( "values", 0) + " - $" + $("#slider-range").slider( "values", 1));
    });

    function filterSystem(minPrice, maxPrice) {
      $("#onelisting div.system").hide().filter(function() {
        var price = parseInt($(this).data("price"), 10);
        return price >= minPrice && price <= maxPrice;
      }).show();
    }

    function redirectToListing(){
      location.href = "<%-urlPath %>"
    }
  </script>

<% include ../partials/footer %>
</body>

</html>