<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
  <% include ../partials/javascript %>
  <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.8/css/all.css'>
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>
</head>

<body>
    <% include ../partials/header %>
    <fieldset>
      <div class="x-c">
        <label for="searchItem">Search for an item</label>
        <form id="searchItem">
            <input type="text" class="search" id="userInput" placeholder="Search!" title="Search For An Item!">
        </form>
      </div>
    </fieldset>
    <fieldset class="priceField">
      <div class="bf-d">
        <div>Price</div>
      </div>
      <div>
        <p>
          <label for="amount">Price Range</label>
          <input type="number" id="minAmount" placeholder="Minimum" style="border: 0; color:black;"/>
          <input type="number" id="maxAmount" placeholder="Maximum" style="border: 0; color:black;"/>
        </p>
        <div>
          <input type="button" id="search" value="Search"/>
        </div>
      </div>
    </fieldset>

    <div class="container-fluid">
      <div class="col-lg-5">
        <button class="btn btn-secondary pull-right" onclick="location.href='/createlisting';">New Listing</button>
      </div>
    </div>

  <div class="container-fluid">
      <% for(var i=0; i < itemList.length; i++){ %>
        <div data-id="<%= itemList[i].id %>">
          <div class="col-lg-4" id="onelisting">
            <div id="itemName">
              <%= itemList[i].name %>
            </div>
            <div>
              <%= itemList[i].img %>
            </div>
            <div>
              <%= itemList[i].group %>
            </div>
            <div>
              <%= itemList[i].hobby %>
            </div>
            <div>
              <%= itemList[i].category %>
            </div>
            <input type="button" class="editBtn" value="Edit">
            <input type="button" class="deleteBtn"  value="Delete">
          </div>
        <% } %>
        </div>
  </div>
   


  <script>
    $('.editBtn').click(function () {
      var record_num = $(this).data('<%= itemList.id'); // id not defined
      location.href = "<%-urlPath %>edit/"+record_num;
    });

    $('.deleteBtn').click(function () {
      var record_num = $(this).closest("div").data('id');
      $.ajax({
        url: '<%-urlPath%>/' + record_num,
        type: 'DELETE',
        success: function (result) {
          console.log(result.message);
          var itemToRemove = '.rowRecord[data-id=' + record_num + ']';
          $(itemToRemove).remove();
          redirectToListing();
        },
        error: function (result) {
          alert("Unable to delete record.");
          console.log(result.message);
          redirectToListing();
        }
      });
    });

    /* $('#search').click(function(){
      for(var i=0; i < itemList.length; i++){
      $('#onelisting').show();
      var txt = $('#userInput').val();
      $('#onelisting:not(:contains("'+txt+'"))').hide();
      }
    });
    */

    //search function
    $('#search').click(function(){
      var searchValue = $('#userInput').val();
      var mini = $('#minAmount').val();
      var maxi = $('#maxAmount').val();
      location.href = "<%-urlPath %>/search/" + searchValue;
    });

    //search for price
    /*$('#searchPrice').click(function(){
      var maxPrice = $('#amount').val();
      location.href = "<%-urlPath %>/search/" + maxPrice;
    })

    function redirectToListing(){
      location.href = "<%-urlPath %>"
    }
    */
  </script>

<% include ../partials/footer %>
</body>

</html>