<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
  <% include ../partials/javascript %>
  <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.8/css/all.css'>
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>
</head>
<style>
  div.col-lg-4{
	
	height: 490px;
	margin: 0;
  margin-right: 20px;
	width: 350px;
}
</style>
<body>
    <% include ../partials/header %>
    
  <div class="container">
      <fieldset>
          <label for="searchItem">Search for an item</label>
          <form id="searchItem">
             <input type="text" class="search" id="userInput" placeholder="Search!" title="Search For An Item!">
          </form>
<<<<<<< HEAD
        <div>
            <input type="button" id="search" value="Search"/>
=======
      </fieldset>
      <fieldset class="priceField">
          <div>Price</div>
        <div>
          <p>
            <label for="amount">Price Range</label>
            <input type="number" id="minAmount" placeholder="Minimum" style="border: 0; color:black;"/>
            <input type="number" id="maxAmount" placeholder="Maximum" style="border: 0; color:black;"/>
          </p>
          <div>
            <input type="button" id="search" value="Search"/>
          </div>
>>>>>>> e8c28ea74d46790a9b51fa7dd75c637ab33ffa10
        </div>
      </fieldset>
    </div>
    <div class="container-fluid">
      <div class="col-lg-5">
        <button class="btn btn-secondary pull-right" onclick="location.href='/createlisting';">New Listing</button>
      </div>
  </div>

<<<<<<< HEAD
  <% for(var i=0; i < itemList.length; i++){ %>
		
    <div class="col-lg-4 product_col" >
      
        <div class="product">
          <div class="product_image">
            <br>
            <img src="<%=hostPath%>/uploads/itemImage/<%= itemList[i].itemImage %>" alt="" height="200" width="200" style="align-content: center">
          </div>
        
          <div class="product_content clearfix">
            <div class="product_info">
                
                    <a href="http://localhost:3000/listing/<%=itemList[i].id%>"><%= itemList[i].name %></a>
                  
              <div class="product_price">by:<%= itemList[i].by %></div>
=======
  <div class="container-fluid">
      <% for(var i=0; i < itemList.length; i++){ %>
        <div data-id="<%= itemList[i].id %>">
          <div class="col-lg-4" id="onelisting">
            <div id="itemName">
              <%= itemList[i].name %>
            </div>
            <div>
              <img src="<%=itemList[i].itemImage %>"
<<<<<<< HEAD
=======
=======

<<<<<<< HEAD
              <img src="images/itemImage/<%=itemList.itemImage %>">
=======
              <img src="<%=itemList[i].itemImage %>">
>>>>>>> 8c09f2995f3132434a0e1b46423b72d042b8f9d0
>>>>>>> fccaf45afffa782d8dd96e8144575bf3d249e354
>>>>>>> 4b861e7277ef9926fb318bc85e6de714a6568b61
            </div>
            <div>
              <%= itemList[i].group %>
            </div>
            <div>
              <%= itemList[i].hobby %>
>>>>>>> e8c28ea74d46790a9b51fa7dd75c637ab33ffa10
            </div>
          <br>
            <div class="product_options">
                <table>
                    <tr  data-id="<%= itemList[i].itemId %>">
                      
              <td>
                <input type="button" class="editBtn btn btn-primary" value="Edit" text-align="flex-center">
                <input type="button" class="deleteBtn btn btn-primary" onclick="return confirm('Please confirm listing deletion');"  value="Delete"  text-align="flex-center">
              </td>
            
            </tr>
              </table>
            </div>
          
        
      </div>
      </div>
    
      </div>
  
      <% } %>
    

        
    </div>
    </div>
  </div>
</div>
   


  <script>
<<<<<<< HEAD
   $('.editBtn').click(function () {
      var record_num = $(this).closest("tr").data('id');
=======
    $('.editBtn').click(function () {
      var record_num = $(this).closest("div").data('<%= itemList.id %>'); // id not defined
>>>>>>> e8c28ea74d46790a9b51fa7dd75c637ab33ffa10
      location.href = "<%-urlPath %>edit/"+record_num;
    });

    $('.deleteBtn').click(function () {
      var record_num = $(this).closest("tr").data('id');
      $.ajax({
        url: '<%-urlPath%>/delete/' + record_num,
        type: 'DELETE',
        success: function (result) {
          console.log(result.message);
          var itemToRemove = '.rowRecord[data-id=' + record_num + ']';
					$(itemToRemove).remove();
					location.href = "/listing"
        },
        error: function (result) {
          alert("Unable to delete listing.");
          console.log(result.message);
        }
      });
		});
    /* $('#search').click(function(){
      for(var i=0; i < itemList.length; i++){
      $('#onelisting').show();
      var txt = $('#userInput').val();
      $('#onelisting:not(:contains("'+txt+'"))').hide();
      }
    });
    */

    //search function
    $('#search').click(function(){
      var searchValue = $('#userInput').val();
      location.href = "<%-urlPath %>/search/" + searchValue;
    });

    //search for price
    $('#searchPrice').click(function(){
      var minamount = $('#minAmount').val();
      var maxAmount = $('#maxAmount').val();
      location.href = "<%-urlPath %>/search/price";
    })

    function redirectToListing(){
      location.href = "<%-urlPath %>"
    }
    
  </script>

<% include ../partials/footer %>
</body>

</html>