z<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include ../partials/stylesheet %>
        <style>
            h1 {
                font-size: 25px;
                font-family: 'Open Sans';
                text-align: center;
            }
            #separate {
                width: 5%;
            }
        </style>
    </head>
    <body>
        <% include ../partials/header %>
        <h1>Pending Offers</h1>
        <div class="row">
            <div class="col-lg-1"></div>
            <select class="form-control col-lg-2" id="sel1">
                <% for(var i=0; i < listingList.length; i++){ %>
                <option><%= listingList[i].name %></option>
                <% } %>
            </select>
            <div class="col-lg-5"></div>
            <button type="button" onclick="location.href=''" class="col-lg-1 btn btn-basic">Accept</button>
            <div id="separate"></div>
            <button type="button" class="col-lg-1 btn btn-basic reject">Reject</button>
            <div class="col-lg-2"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-1"></div>
            <table class="col-lg-10 table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">User</th>
                        <th scope="col">Offer</th>
                        <th scope="col">Date</th>
                    </tr>
                    <% for(var i=0; i < offerList.length; i++){ %>
                        <tr class="rowOffer" data-id="<%= offerList[i].id %>">
                            <td scope="row">
                                <input class="checkbox" data-id="<%= offerList[i].id %>" type="checkbox">
                            </td>
                            <td><%= offerList[i].buyerUsername %></td>
                            <td>$<%= offerList[i].price %></td>
                            <td><%= moment(offerList[i].createdAt).format('DD-MMM-YYYY') %></td>
                            </tr>
                        <tr>
                    <% } %>
                </thead>
                <tbody> 
                </tbody>
            </table>
            <div class="col-lg-1"></div>
        </div>
        <% include ../partials/javascript %>
        <script>
        $('.reject').click(function () {
            if (confirm("Reject Offers?")) {
                var offers_id = $(this).closest("tr").data('id'); 
                $.ajax({
                    url: '<%-urlPath%>' + '/' + offers_id,
                    type: 'DELETE',
                    success: function(result) {
                        console.log(result.message);
                        var itemToRemove = '.rowOffer[data-id=' + offers_id + ']';
                        $(itemToRemove).remove();
                    },
                    error: function(result) {
                        alert("Unable to reject offer.");
                        console.log(result.message);
                    }
                });
            }
        }); 
        </script>
        <% include ../partials/footer %>
    </body>
</html>