<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include ../partials/stylesheet %>
        <style>
            h1 {
                font-size: 25px;
                font-family: 'Open Sans';
                text-align: center;
            }
            #separate {
                width: 5%;
            }
        </style>
    </head>
    <body>
        <% include ../partials/header %>
        <h1>Pending Offers</h1>
        <br>
        <div class="row">
            <div class="col-lg-1"></div>
            <table class="col-lg-10 table">
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Item</th>
                        <th scope="col">Offer</th>
                        <th scope="col">Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody> 
                    <% for(var i=0; i < offerList.length; i++){ %>
                        <tr class="rowOffer" data-id="<%= offerList[i].id %>">
                            <td><%= offerList[i].buyerUsername %></td>
                            <td><%= offerList[i].listingTitle %></td>
                            <td>$<%= offerList[i].price %></td>
                            <td><%= moment(offerList[i].createdAt).format('DD-MMM-YYYY') %></td>
                            <td><button type="button" class="btn btn-basic accept">Accept</button></td>
                            <td><button type="button" class="btn btn-basic reject">Reject</button></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="col-lg-1"></div>
        </div>
        <form action="/newNotification" method="post">
            <fieldset class="form-group hiddenForm">
                <label for="message"></label>
                <input type="text" id="message" name="msg" class="form-control" value="">
            </fieldset>
            <fieldset class="form-group hiddenForm">
                <label for="buyerUsername"></label>
                <input type="text" id="buyerUsername" name="buyerUsername" class="form-control" value="">
            </fieldset>
            <button type="submit" class="btn btn-basic submit">Send</button>
        </form>
        <% include ../partials/javascript %>
        <script>
        $(document).ready(function(){
              $(".hiddenForm").hide();
              $(".submit").hide();
            });
        $('.reject').click(function () {
            if (confirm("Reject Offer?")) {
                var data = {
                    type: 2,
                    message: "button"
                }
                console.log("sending notification");
                sendAjax(data);

                var offers_id = $(this).closest("tr").data('id'); 
                $.ajax({
                    url: '<%-urlPath%>' + '/' + offers_id,
                    type: 'DELETE',
                    success: function(result) {
                        console.log(result.message);
                        var itemToRemove = '.rowOffer[data-id=' + offers_id + ']';
                        $(itemToRemove).remove();
                    },
                    error: function(result) {
                        alert("Unable to reject offer.");
                        console.log(result.message);
                    }
                });
            }
        }); 
        $('.accept').click(function () {
            if (confirm("Accept Offer?")) {
                var data = {
                    type: 1,
                    message: "button"
                }
                console.log("sending notification");
                sendAjax(data);

                var offers_id = $(this).closest("tr").data('id'); 
                $.ajax({
                    url: '<%-urlPath%>' + '/' + offers_id,
                    type: 'DELETE',
                    success: function(result) {
                        console.log(result.message);
                        var itemToRemove = '.rowOffer[data-id=' + offers_id + ']';
                        $(itemToRemove).remove();
                    },
                    error: function(result) {
                        alert("Unable to reject offer.");
                        console.log(result.message);
                    }
                });
            }
        }); 
        function sendAjax(theMessage) {
            $.ajax({
                url: "http://localhost:3000/offers",
                type: 'POST',   
                data: JSON.stringify(theMessage),
                dataType: "json",
                contentType: "application/json",
                success: function(result) {
                    $("#log").append('<p>' + result.message + '</p>');  
                    console.log(result.message);
                    $('#message').val(result.message);	
                    $(".submit").click();
                },
                error: function (error) {
                    alert("Unable to send message.");
                    console.log(error);
                }
            })
        }
        </script>
        <% include ../partials/footer %>
    </body>
</html>