<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
    <link href="/stylesheets/settings.css" rel='stylesheet' type='text/css' />
    <script src="/javascripts/settings.js"></script>   
</head>
<body>
    <% include ../partials/header %>
    <table class="table">
        <thread>
            <tr>
            <th>Username</th>
            <th>Average Rating</th>
            <th>Number of reviews</th>
            </tr>
            <% for(var i=0; i < sellersList.length; i++){ %>
            <!-- <tr class="rowRecord" data-id="<%= sellersList[i].id %>"> -->
            <tr class="rowRecord">
                <td>
                    <span class="username"><%= sellersList[i].username %></span>
                </td>
                <td>
                <%= sellersList[i].averageRating %>
                </td>
                <td>
                <%= sellersList[i].reviewCount %>
                </td>
            </tr>
            <% } %>
        </thread>
        </table>
    <% include ../partials/footer %>
    <% include ../partials/javascript %>
    <script>
        // redirects to the next user
        login = "<%=login %>"
        console.log("login: ",login)
        $('.username').click(function () {
            var record_username = $(this).closest('.rowRecord').find('.username').text();
            if (login){
                // username = user.username
                location.href = "profile/"+record_username;
                console.log("passed in login");
            }
            else{
                location.href = "profile/"+record_username;
                console.log("did not passed in login");
            }
        });

    </script>
</body>
</html>