<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include ../partials/stylesheet %>
        <style>
            /* Tabs CSS */
            * {box-sizing: border-box}
            /* Set height of body and the document to 100% */
            /* Style tab links */
            .tablink {
                background-color: #555;
                color: white;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                font-size: 17px;
                width: 50%;
            }

            .tablink:hover {
                background-color: #777;
            }

            /* Style the tab content (and add height:100% for full page content) */
            .tabcontent {
                color: black;
                display: none;
                padding: 100px 20px;
                height: 100%;
            }
        </style>
    </head>
    <body>
        <% include ../partials/header %>
        <button class="tablink" onclick="location.href='/ewallet';">Wallet</button>
        <button class="tablink" onclick="openPage('Transactions', this, 'orange')"id="defaultOpen">Transactions</button>
        <h1 style="margin: 8% 0 -4% 0; font-size: 25px;text-align: center">Transaction History</h1>
        <div id="Wallet" class="tabcontent">
        </div>
        <div id="Transactions" class="tabcontent container-fluid" >
        <table class="table">
            <thead>
                <tr>
                <th>Username</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Info</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < transactionList.length; i++){ %>
                    <% if (transactionList[i].contactName == currentUser) { %>
                    <tr data-id="<%= transactionList[i].id %>">
                        <td><%= transactionList[i].username %></td>
                        <td><%= moment(transactionList[i].createdAt).format('DD-MMM-YYYY') %></td>
                        <td>$<%= transactionList[i].amount %></td>
                        <td>Received</td>
                        <td>
                            <% if (transactionList[i].contactName == currentUser && transactionList[i].sellerStatus == "incomplete") {%>
                                <button type="button" class="btn btn-success reviewButton" data-toggle="modal" data-target="#createPost">
                                    Review Buyer
                                </button>
                            <% } else if (transactionList[i].username == currentUser && transactionList[i].buyerStatus == "incomplete") {%>
                                <button type="button" class="btn btn-success reviewButton" data-toggle="modal" data-target="#createPost">
                                    Review Seller
                                </button>
                            <% } %>
                        </td>
                    </tr>
                    <% } else { %>
                    <tr data-id="<%= transactionList[i].id %>">
                        <td><%= transactionList[i].contactName %></td>
                        <td><%= moment(transactionList[i].createdAt).format('DD-MMM-YYYY') %></td>
                        <td>$<%= transactionList[i].amount %></td>
                        <td>Sent</td>
                        <td>
                            <% if (transactionList[i].contactName == currentUser && transactionList[i].sellerStatus == "incomplete") {%>
                                <button type="button" class="btn btn-success reviewButton" data-toggle="modal" data-target="#createPost">
                                    Review Buyer
                                </button>
                            <% } else if (transactionList[i].username == currentUser && transactionList[i].buyerStatus == "incomplete") {%>
                                <button type="button" class="btn btn-success reviewButton" data-toggle="modal" data-target="#createPost">
                                    Review Seller
                                </button>
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
        </div>
        <% include ../partials/javascript %>
        <script>
        // Tabs
        function openPage(pageName,elmnt,color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click(); 
        </script>

        <script>
        // for review
        $('.reviewButton').click(function () {
            var record_num = $(this).closest("tr").data('id');
            location.href = "http://localhost:3000/review/"+record_num;
        });
        </script>
        <% include ../partials/footer %>
    </body>
</html>